{% extends 'base.html.twig' %}

{% block title %}Projet Details{% endblock %}

{% block body %}
    <h1>{{ projet.name }}</h1>
    <p>{{ projet.description }}</p>
    <p>Start Date: {{ projet.startDate|date('Y-m-d') }}</p>
    <p>End Time: {{ projet.endTime|date('Y-m-d') }}</p>
    <!-- And so on for other fields you want to display -->
{% endblock %}
